@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --light: #e8f0fc;
  --dark-text: rgb(29, 29, 29);
  --dark-bg: #010103;
  --orange: #faa41a;
  --gray: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  vertical-align: baseline;
  font-family: "Domine", sans-serif;
  color: var(--dark-text);
}

#logo {
  max-width: 150px;
}

body {
  background-color: var(--light);
  transition: 100ms;
}

main {
  width: 45%;
  max-width: 500px;
  margin: 10dvh auto;
  background-color: var(--light);
  box-shadow: 0 20px 100px 0 rgb(29, 29, 29, 0.2);
  border-radius: 10px;
  transition: 200ms;

  *::selection {
    background-color: var(--orange);
    color: var(--light);
  }

  &>header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &>footer {
    width: 75%;
    margin: 2rem auto 0;

    p {
      min-width: 45%;
      text-align: center;
      color: var(--gray)!important;
    }

  }
}

.costumer-resume {

  h1 {
    text-align: center;
    font-size: 1.75rem;
  }

  p {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--gray)!important;
  }

  &~article {
    h2 {
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    p {
      color: var(--gray);
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: justify;
      padding: 0 .25rem;
    }
  }
}

.circle-mask {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  cursor: pointer;

  img {
    width: 100%;;
    transition: 200ms 100ms;
  }

  &:hover {
    border-width: 2px;
    padding: 1px;
    filter: brightness(.85);

    img {
      scale: 1.15;
    }
  }
}

header button {
  padding: .25rem;
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--gray);
  fill: var(--gray);
  box-shadow: none;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 100ms;

  &:hover {
    fill: var(--orange);
  }
}


body.dark {
  * {
    color: var(--light);
  }

  background-color: var(--dark-bg);

  main {
    background-color: var(--dark-bg);
    box-shadow: 0 20px 100px 30px rgba(177, 100, 0, 0.2);
    border-color: var(--orange);
  }

  .circle-mask {
    border-color: var(--orange);
  }

  header button {

    &#theme-button {
      fill: var(--orange);
    }
  }
}

svg {
  width: 30px;
  aspect-ratio: 1/1;
}