/*@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*/

:root {
  --light: #e8f0fc;
  --dark-text: rgb(29, 29, 29);
  --dark-bg: #010103;
  --orange: #faa41a;
  --gray: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  vertical-align: baseline;
  font-family: "Domine", sans-serif;
  color: var(--dark-text);
}

#logo {
  max-width: 150px;
}

body {
  background-color: var(--light);
  transition: 100ms;
}

main {
  width: 45%;
  max-width: 500px;
  margin: 10dvh auto;
  padding: 2rem 1.5rem 3.5rem;
  background-color: var(--light);
  box-shadow: 0 20px 100px 0 rgb(29, 29, 29, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 200ms;

  *::selection {
    background-color: var(--orange);
    color: var(--light);
  }

  &>header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &>footer {
    width: 75%;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &>section {
      justify-self: center;
      align-self: center;
    }

    p {
      color: var(--gray)!important;
      margin-left: 1rem;
    }

  }
}

.costumer-resume {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 1.75rem;
    margin: 1.25rem 0 .25rem 0;
  }

  p {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--gray)!important;
  }

  &~article {
    margin-top: 2rem;

    h2 {
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    p {
      color: var(--gray);
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: justify;
      padding: 0 .25rem;
    }
  }
}

.circle-mask {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  transition: 200ms;

  img {
    width: 100%;;
    transition: 200ms 100ms;
  }

  &:hover {
    border-width: 2px;
    padding: 1px;
    filter: brightness(.85);

    img {
      scale: 1.15;
    }
  }
}

header button {
  padding: .25rem;
  color: var(--gray);
  fill: var(--gray);
  background-color: transparent;
  border: 2px solid transparent;
  box-shadow: none;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 100ms;

  &:hover {
    fill: var(--orange);
  }
}

.btn-group {
  display: flex;
  gap: 20px;
  height: 100%;
}


body.dark {
  * {
    color: var(--light);
  }

  background-color: var(--dark-bg);

  main {
    background-color: var(--dark-bg);
    box-shadow: 0 20px 100px 30px rgba(177, 100, 0, 0.2);
    border-color: var(--orange);
  }

  .circle-mask {
    border-color: var(--orange);
  }

  header button {

    &#theme-button {
      fill: var(--orange);
    }
  }
}

svg {
  width: 30px;
  aspect-ratio: 1/1;
}